<div class="face-snap-card">
    <div class="img-container">
        <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title">
    </div>

    <section class="content-container">
        <h2>{{ faceSnap.title }}</h2>
        <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
        <p>{{ faceSnap.description }}</p>
        <p *ngIf="faceSnap.location">Cette photo à été prise à {{faceSnap.location}}</p>
        <p>
            <button class="addRmvSnap" (click)="onAddOrRemoveSnap()">{{btnContent}}</button>
            🤌 {{ faceSnap.snaps }}
        </p>
    </section>
  </div>