.face-snap-card {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 8px 8px 13px 1px rgba(0, 0, 0, 0.1);;
    width: 80%;
    margin: 10px auto;

    img {
    width: 100%;
    }
    .content-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        * {
            margin-left: 30px;
        }
    }

    .addRmvSnap {
        min-width: 110px;
        background-color: #629ee7;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        align-items: baseline;
        &:active {
            transform: translate(1px, 1px);
        }
    }

    .snapped {
        background-color: #dd7777;
        min-width: 110px;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        align-items: baseline;
        &:active {
            transform: translate(1px, 1px);
        }
      }
    
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media screen and (min-width: 700px) {
    .face-snap-card {
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }
    img {
        max-width: 300px;
        margin-left: 0;
    }

    .content-container {
        max-width: 600px;
    }
}

@media screen and (min-width: 1140px) {
    .face-snap-card {
        display: flex;
        justify-content: start;
        margin: 30px auto;
    }
    img {
        max-width: 300px;
        margin-left: 0;
    }

    .content-container {
        max-width: 600px;
    }
}