
<div class="face-snap-card">
    
        <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title">
    

    <section class="content-container">
        <h2>{{ faceSnap.title | titlecase }}</h2>
        <p>Mis en ligne le {{ faceSnap.createdDate | date: "d MMMM yyyy à HH:mm" }}</p>
        <p>{{ faceSnap.description | lowercase }}</p>
        <p *ngIf="faceSnap.location">Cette photo à été prise à {{faceSnap.location | uppercase}}</p>
        <p>
            <button class="addRmvSnap" [ngClass]="{snapped: btnContent === 'Oops unsnap !'}" (click)="onAddOrRemoveSnap()">{{btnContent}}</button>
            🤌
            <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ' , 0)' }"> {{ faceSnap.snaps }}</span>
            <span *ngIf="faceSnap.snaps >= 255" [ngStyle]="{borderBottom: '1px solid orange'}">🔥</span>
            
        </p>
    </section>
  </div>