* {
    font-family: Roboto, Helvetica, sans-serif;
  }
  
.face-snap-card {
    display: flex;
    align-items: space-between;
    border-radius: 10px;
    box-shadow: 8px 8px 13px 1px rgba(0, 0, 0, 0.1);;
    width: 700px;
    height: 300px;
    margin: 10px;

    .img-container {
        width: 40%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        img {
            border-radius: 10px 0 0 10px;
            height: 100%;
            width: 300px;
          }
    }

    .content-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        * {
            margin-left: 30px;
        }
    }

    .addRmvSnap {
        min-width: 110px;
        background-color: #629ee7;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        align-items: baseline;
    }
    
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
}